*{
    margin: 0;
    padding: 0;
}



header{
    background-color: #06a389;
    color:black;
    display: flex;
    justify-content: space-around;
padding: 24px 0;
}

.cabecalho-imagem{
width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 300px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
background-image: linear-gradient(#06a389,#43A871);
color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}